.cont
{

font-size: 20pt;
color: #000000;
}

.cont1
{

font-size: 16pt;
color: #000000;
}


.cont2
{

font-size: 16pt;
color: #000000;
}
.head1 {
 	 background: #f0eee6;
	 border-radius: 20px;
	 position: relative;
	 top: 0px;
}

.g
{font-size: 14pt;
}
