.title_h2 {
  text-align: center;
  margin: -1px 0 0 0;
  background: url(images/bg_h2.png) no-repeat;
  padding-bottom: 5px;
  font-family: "Times New Roman";
  font-size: 20px;
  color: #fff;
  line-height: 27px;
  border-bottom: 4px solid #aaaaaa; }

.container {
  max-width: none !important;
  width: 1170px; }

body {
  background: url(images/bg_body.png) no-repeat;
  background-size: cover;
  position: relative; }
  body .bg_content {
    background-color: #fff;
    position: absolute;
    width: 1170px;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto; }
  body header .bg_logo {
    background: url(images/bg_logo.png) no-repeat;
    width: 404px;
    height: 166px; }
    body header .bg_logo .logo {
      background: url(images/logo.png) no-repeat;
      width: 356px;
      height: 131px;
      display: inline-block;
      margin-top: 20px; }
  body header .slogon {
    margin-top: 60px; }
    body header .slogon h1 {
      font-size: 17px;
      text-align: center;
      font-family: "Times New Roman"; }
    body header .slogon p {
      font-style: italic; }
  body header .bg_telephone {
    background: url(images/bg_header_telephone.png) no-repeat;
    background-position: 0px -11px;
    height: 166px;
    float: right; }
    body header .bg_telephone .phone_block {
      display: inline-block;
      margin: 30px 0px 10px 74px; }
      body header .bg_telephone .phone_block .icon_phone {
        background: url(images/icon_telephone.png) no-repeat;
        width: 59px;
        height: 59px;
        display: inline-block;
        position: relative;
        top: 10px; }
      body header .bg_telephone .phone_block .numbers {
        display: inline-block; }
        body header .bg_telephone .phone_block .numbers span {
          display: block;
          font-family: "Times New Roman";
          font-size: 27px;
          font-weight: bold;
          line-height: 30px; }
      body header .bg_telephone .phone_block .header_adress {
        background: url(images/bg_adress_header.png) no-repeat;
        padding-right: 34px;
        margin: 30px -34px 0 0; }
        body header .bg_telephone .phone_block .header_adress span {
          display: block;
          text-align: right;
          font-family: "Times New Roman";
          font-size: 15px; }
  body #slider_block .slider .slide_1 img {
    margin: 0 -15px;
    position: relative;
    z-index: 2; }
  body #slider_block .slider .slide_1 .arrow_img {
    background: url(images/arrow_img.png) no-repeat;
    width: 127px;
    height: 249px;
    position: relative;
    z-index: 1;
    top: 40px;
    left: 15px; }
  body #slider_block .slider .slide_1 .description p {
    font-family: "Arial";
    line-height: 14px;
    font-size: 13px; }
  body #nav .bg_nav {
    background: #efefef;
    position: relative; }
    body #nav .bg_nav ul {
      padding: 0;
      margin: 0; }
      body #nav .bg_nav ul li:first-child {
        width: 175px; }
      body #nav .bg_nav ul li {
        display: inline-block;
        width: 155px;
        vertical-align: top;
        border-right: 2px solid #bdbdbd; }
        body #nav .bg_nav ul li a .icon_1 {
          background: url(images/icon_1.png) no-repeat;
          width: 92px;
          height: 91px;
          display: block;
          margin: 20px auto 30px; }
        body #nav .bg_nav ul li a .icon_2 {
          background: url(images/icon_2.png) no-repeat;
          width: 92px;
          height: 100px;
          display: block;
          margin: 30px auto 30px; }
        body #nav .bg_nav ul li a .icon_3 {
          background: url(images/icon_3.png) no-repeat;
          width: 124px;
          height: 100px;
          display: block;
          margin: 30px auto 30px; }
        body #nav .bg_nav ul li a .icon_4 {
          background: url(images/icon_4.png) no-repeat;
          width: 70px;
          height: 100px;
          display: block;
          margin: 30px auto 30px; }
        body #nav .bg_nav ul li a p {
          text-align: center;
          color: #000; }
    body #nav .bg_nav .form_block {
      background: url(images/bg_form.png) no-repeat;
      width: 404px;
      height: 176px; }
      body #nav .bg_nav .form_block h6 {
        text-align: center;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        padding: 5px 0px 0px 0px; }
      body #nav .bg_nav .form_block form input {
        display: block;
        width: 70%;
        margin: 10px auto;
        border-radius: 20px;
        height: 37px;
        border: 0;
        outline: none;
        padding: 0 15px; }
      body #nav .bg_nav .form_block form input[type="button"] {
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
        width: 40%;
        background: #434242;
        color: #fff;
        outline: none; }
  body #offer_block {
    position: relative; }
    body #offer_block .offer {
      padding: 30px; }
      body #offer_block .offer ul {
        padding: 0;
        margin: 0; }
        body #offer_block .offer ul li {
          display: inline-block; }
          body #offer_block .offer ul li img {
            width: 100%; }
          body #offer_block .offer ul li p {
            text-align: center;
            margin: 20px 0;
            color: #414040;
            font-size: 16px;
            font-family: "Tahoma"; }
  body footer {
    position: relative; }
    body footer .bg_footer {
      background: url(images/bg_footer.png) no-repeat;
      padding-bottom: 40px; }
      body footer .bg_footer h2 {
        padding-left: 40px;
        border-bottom: 2px solid #b1b1b1;
        width: 40%;
        padding-bottom: 10px; }
      body footer .bg_footer .contact {
        display: inline-block; }
        body footer .bg_footer .contact ul {
          margin: 0; }
          body footer .bg_footer .contact ul li:first-child {
            font-style: italic;
            font-weight: 100;
            font-family: "Times New Roman";
            font-size: 20px; }
          body footer .bg_footer .contact ul li {
            font-weight: bold;
            list-style-type: none;
            font-family: "Times New Roman";
            font-size: 15px; }
  body #bottom_footer {
    background: #1a7da3;
    width: 100%;
    position: relative;
    z-index: 3; }
    body #bottom_footer p {
      text-align: center;
      color: #fff;
      font-size: 15px;
      font-family: "Tahoma"; }
      body #bottom_footer p a {
        font-size: 18px;
        color: #fff343;
        font-family: "Tahoma";
        margin: 0 35px 0 10px; }

/*# sourceMappingURL=style.css.map */
