.page-numbers.disabled{
	display: none;
}
.sbOptions li{
	text-align: left;
}
.filter-item{
	text-align: left;
	border-bottom: 1px solid #DDDDDD;
    padding: 5px 0;
}
.filter-item img{
	vertical-align: middle;
}
.filter-item a{
	  display: inline-flex;
    width: 215px;
}
.filter-item span{
	margin: 7px 0px 0px 16px;
}


.table.products tr{
	    border-bottom: 1px solid #00bbd3;
}

.table.products tr.white-block{
	    border-bottom: none;
		color: #8ac249;
    font-size: 20px;
    font-weight: bold;
}

.table.products i{
    color: #fec006;
    font-size: 20px;
}

.table.products a:hover i{
    color: #00bbd3;
}
.author-bio_avatar .cherry-services_icon{
	font-size: 55px;
  line-height: 1em;
  color: #00bbd3;
}

div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}
