::-webkit-input-placeholder {color:  #888888;}
::-moz-placeholder          {color:  #888888;}/* Firefox 19+ */
:-moz-placeholder           {color:  #888888;}/* Firefox 18- */
:-ms-input-placeholder      {color:  #888888;}
.products .portfolio-wrap img:hover  {

    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.products::-moz-placeholder {
    color: #888888!important;
}
.products:-ms-input-placeholder {
    color: #888888!important;
}
.products::-webkit-input-placeholder {
    color: #888888!important;
}
.products input[type=email], .products input[type=text], .products textarea{
        color: #2b91d8!important;
}

.one-post #header{
    border: none;
}
.one-post #static-area-header-bottom{
    box-shadow: none;
    -webkit-box-shadow:none;
}
.products #header{
    padding: 0;
}
.products #static-area-header-top{
    padding-top: 21px;
    background-color: #ffffff;
}

.sale-label {
    font: 700 14px/12px Arial, Helvetica, sans-serif;
    color: white;
    background: #f13340;
    text-transform: uppercase;
    padding: 9px 0 7px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
    width: 130px;
    text-align: center;
    display: block;
    position: absolute;
    right: -33px;
    top: 16px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sale-box {
    right: -5px;
}
.sale-box {
    position: absolute;
    top: -4px;
    overflow: hidden;
    height: 85px;
    width: 85px;
    text-align: center;
    z-index: 0;
}


.sale-label:before {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    bottom: -3px;
    right: 4px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: #ad2b34 transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}


.sale-label:after {
    position: absolute;
    bottom: -3px;
    left: 5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0px 4px;
    border-color: #ad2b34 transparent transparent transparent;
    content: ".";
    text-indent: -5000px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.single-post .entry-content table td{
    border: 1px solid;
}


.categories_block .sub{
      display: none;
}
.categories_block ul {
  list-style: none;
      background: #fff;
}
.steps_lable{
    position: relative;
/*    width: 240px;*/
    display: block;
    line-height: 30px;
        font-weight: 500;
}
.sub .steps_lable{

        font-weight: 400;
        padding-left: 20px;
}
.sub{
  padding: 0;
  margin: 0;
}
.sbSelector.active{
  font-weight: 500;
}
.sbOptions.cats{
  max-height: 350px;
  top: 50px;
  max-height: 327px;
  overflow: auto!important;
  display: none;
}
.steps_lable:hover{
  background-color: #2b91d8;
}
.wihout_shadow{
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sbHolder, .search-field, .new_search input[type=submit] {
	border: 1px solid #18BBEA;
    height: 50px;
}
.new_search input[type=submit]{
	background-color: inherit;
	color: #888888;
	font-weight: normal;
	text-transform: uppercase;
	    width: 100%;
	    color: #18BBEA;
}
.wpcf7 form.new_search .wpcf7-form-control-wrap{
	margin: 0;
}
/*.testimonials-item{
border-bottom: 2px solid #F5F5F5;
    margin-bottom: 10px;
}*/
.photo-resolution i{
  color: #2cabfa;
    font-size: 24px;
    font-family: "material-design";
    line-height: 1em;
    display: inline-block;
    vertical-align: top;
    padding-right: 6px;
}
.new_search .search-field{
	border: 1px solid #18BBEA!important;
    height: 50px;
}
.search-row{
	    padding: 29px 41px 35px 41px;
    margin: 0 0 30px 0;
}
header{
	    border-bottom: 1px solid #DCDCDC;
}
#menu-primary-items{
	    margin: 0 auto;
   /* width: 800px;*/
      /*  margin-bottom: 70px;*/
}
.separator{
	    font-size: 20px;
}
.sbHolder a, .new_search input[type="text"]{

	    color: rgb(51, 51, 51);
}

.new_search .col{
	padding: 0;
}
.one-post #content{
    max-width: 980px;
}
.one-post .search-row div.wpcf7, .one-post .cherry-breadcrumbs {
    max-width: 980px;
    margin: 0 auto;
}
.sbSelector {
    display: block;

    line-height: 50px;
    outline: none;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 240px;
}
.sbOptions {
    background-color: #FFF;
    border: solid 1px #aebad2;
    list-style: none;
    left: -1px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 100%;

    z-index: 17;
    overflow-y: auto!important;
}
.wpcf7-text.error, .wpcf7-textarea.error, .note-editor.error ,img.error, .sbHolder.error{
	border: 1px solid red!important;
}
.user-contancts i.list-icon{
	cursor: pointer;
}
.pay_status_0{
	color: #771FDB;
	font-weight: bold;
}
.pay_status_1{
	color: green;
	font-weight: bold;
}
.pay_status_2{
	color: red;
	font-weight: bold;
}
.pay_status_3{
	color: black;
	font-weight: bold;
}
.note-group-select-from-files {
  display: none;
}
.site-branding{
	text-align: center;
	margin-bottom: 50px;
}
.site-title small{
	    font-weight: 400;
        font-size: 50%;
}
/*.user-contancts .list-icon{
	visibility: hidden;
}
.user-contancts :last-child{
	visibility: visible;
}*/

.wpcf7 .note-editable{
	height: 500px
}
.user-cabinet .one-baner{
	    border-bottom: 2px solid #F5F5F5;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.page-numbers.disabled{
	display: none;
}
.sbOptions li{
	text-align: left;
}
.filter-item{
	text-align: left;
	border-bottom: 1px solid #DDDDDD;
    padding: 5px 0;
}
.filter-item img{
	vertical-align: middle;
}
.filter-item a{
	  display: inline-flex;
    width: 215px;
}
.filter-item span{
	margin: 7px 0px 0px 16px;
}


.table.products tr{
	    border-bottom: 1px solid #2cabfa;
}

.table.products tr.white-block{
	    border-bottom: none;
		color: #8ac249;
    font-size: 20px;
    font-weight: bold;
}

.table.products i{
    color: #fec006;
    font-size: 20px;
}

.table.products a:hover i{
    color: #2cabfa;
}
.author-bio_avatar .cherry-services_icon{
	font-size: 55px;
  line-height: 1em;
  color: #2cabfa;
}

div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}
