.sbHolder, .search-field, .new_search input[type=submit] {
	border: 1px solid #18BBEA;
    height: 50px;
}
.new_search input[type=submit]{
	background-color: inherit;
	color: #888888;
	font-weight: normal;
	text-transform: uppercase;
	    width: 100%;
	    color: #18BBEA;
}
.wpcf7 form.new_search .wpcf7-form-control-wrap{
	margin: 0;
}
.new_search .search-field{
	border: 1px solid #18BBEA!important;
    height: 50px;
}
.search-row{
	    padding: 29px 41px 35px 41px;
    margin: 0 0 30px 0;
}
header{
	    border-bottom: 1px solid #DCDCDC;
}
#menu-primary-items{
	    margin: 0 auto;
    width: 800px;
        margin-bottom: 70px;
}
.separator{
	    font-size: 20px;
}
.sbHolder a, .new_search input[type="text"]{

	    color: rgb(51, 51, 51);
}
::-webkit-input-placeholder {color: rgb(51, 51, 51);}
::-moz-placeholder          {color: rgb(51, 51, 51);}/* Firefox 19+ */
:-moz-placeholder           {color: rgb(51, 51, 51);}/* Firefox 18- */
:-ms-input-placeholder      {color: rgb(51, 51, 51);}
.new_search .col-lg-3{
	padding: 0;
}
.sbSelector {
    display: block;

    line-height: 50px;
    outline: none;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 0;
    width: 240px;
}
.sbOptions {
    background-color: #FFF;
    border: solid 1px #aebad2;
    list-style: none;
    left: -1px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 100%;

    z-index: 17;
    overflow-y: auto;
}
.wpcf7-text.error, .wpcf7-textarea.error, .note-editor.error ,img.error, .sbHolder.error{
	border: 1px solid red!important;
}
.user-contancts i.list-icon{
	cursor: pointer;
}
.pay_status_0{
	color: #771FDB;
	font-weight: bold;
}
.pay_status_1{
	color: green;
	font-weight: bold;
}
.pay_status_2{
	color: red;
	font-weight: bold;
}
.pay_status_3{
	color: black;
	font-weight: bold;
}
.note-group-select-from-files {
  display: none;
}
.site-branding{
	text-align: center;
	margin-bottom: 50px;
}
.site-title small{
	    font-weight: 100;
}
/*.user-contancts .list-icon{
	visibility: hidden;
}
.user-contancts :last-child{
	visibility: visible;
}*/

.wpcf7 .note-editable{
	height: 500px
}
.user-cabinet .one-baner{
	    border-bottom: 2px solid #F5F5F5;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.page-numbers.disabled{
	display: none;
}
.sbOptions li{
	text-align: left;
}
.filter-item{
	text-align: left;
	border-bottom: 1px solid #DDDDDD;
    padding: 5px 0;
}
.filter-item img{
	vertical-align: middle;
}
.filter-item a{
	  display: inline-flex;
    width: 215px;
}
.filter-item span{
	margin: 7px 0px 0px 16px;
}


.table.products tr{
	    border-bottom: 1px solid #2cabfa;
}

.table.products tr.white-block{
	    border-bottom: none;
		color: #8ac249;
    font-size: 20px;
    font-weight: bold;
}

.table.products i{
    color: #fec006;
    font-size: 20px;
}

.table.products a:hover i{
    color: #2cabfa;
}
.author-bio_avatar .cherry-services_icon{
	font-size: 55px;
  line-height: 1em;
  color: #2cabfa;
}

div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}
