- @services.each do |service|
  - features = service.features.to_a
  - next if features.count.zero?
  .row
    .panel
      .panel-heading
        %h3.panel-title=service.name
      .panel-body{'tooltip-placement' => "top", tooltip: t('tooltips.room.services')}
        - (current_admin.is_partner? ? service.features.hoteliers_features : service.features).in_groups_of((features.count.to_f/2).ceil, false).each do |group|
          .col-md-6
            %ul
              - group.each do |feature|
                %li
                  %label=feature.name
                  .pull-right
                    %input.js-switch{"ui-switch" => "true", type: "checkbox",id:"perm_#{feature._id}", "ng-model"=>"editedItem.features['#{feature._id}']"}
