<div class="container">
  <div class="content-area">
     <div id="respond" class="comment-respond">
        <h3 id="reply-title" class="comment-reply-title">Leave a reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/wordpress_55766/allergyasthma/innovative-laboratory-services-to-enhance-patient-health/#respond" style="display:none;">Cancel reply</a></small></h3>
        <form action="http://livedemo00.template-help.com/wordpress_55766/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">
           <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
           <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                 <p class="comment-form-author"><input id="author" name="author" type="text" placeholder="Name" value="" size="30" aria-required="true" required="required"></p>
                 <p class="comment-form-email"><input id="email" name="email" type="text" placeholder="E-mail" value="" size="30" aria-describedby="email-notes" aria-required="true" required="required"></p>
                 <p class="comment-form-url"><input id="url" name="url" type="text" placeholder="Website" value="" size="30"></p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                 <p class="comment-form-comment"><textarea id="comment" name="comment" placeholder="Comment" cols="45" rows="8" aria-describedby="form-allowed-tags" aria-required="true" required="required"></textarea></p>
                 <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Submit"> <input type="hidden" name="comment_post_ID" value="22" id="comment_post_ID">
                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                 </p>
              </div>
           </div>
        </form>
     </div>
  </div>
</div>
