<div class="review">
  <div class="container">
    <h2><%= t("school.reviews")%></h2>

    <div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="0">
        <!-- prev/next links -->
        <span class="cycle-prev"></span>
        <span class="cycle-next"></span>
      <% reviews.each do |item|%>
        <div class="s-item">
          <div class="container_medium">
            <div class="row">
              <div class="image-holder">
                <img src="img/ava.jpg" alt=".">
              </div>

              <div class="text">
                <h6><a href="#">olena fedorova</a></h6>
                <ul class="publish-date">
                  <li class="date">17.01/2015</li>
                </ul>

                <p>Дякую, дякую, дякую за чудові і дуже цікаві програми!!!!! Ви молодці так тримати!!!!!!!! мені дуже подобаються ці уроки вони дуже креативні та цікаві! З вами легко і дуже цікаво!</p>
                <p>Ви молодці так тримати!!!!!!!! мені дуже подобаються ці уроки вони дуже креативні та цікаві! З вами легко і дуже цікаво! <a href="#">Показати більше...</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
