<div data-ctrl="Form" style="display:none" id="success_popup" >
  <div class="overlay"></div>
    <!-- підписка на новини -->
  <div class="form-block" style="background:none">
    <a href="#" class="close"></a>

    <!-- успішно заповнена форма -->
    <div class="owl success">
      <div class="bobble"><span>ВІТАЄМО!</span> ваше резюме успішно відправлено</div>
    </div>
  </div>
</div>
