<div class="modal-contact">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Обратная связь</h4>
        </div>
        <div class="modal-body">
          <p class="caption">Оставить заявку</p>
          <%= form_for Feedback.new, url: feedback_path, id:"modal-form" do |f| %>
          <form action="/feedback" method="POST" id="">
            <div class="row">
<!--               <p>Введите имя:</p> -->
              <%=f.text_field :name, class:"name", placeholder: t("uex.name_plc"), required:true %>
            </div>
            <div class="row">
<!--               <p>Введите номер телефона:</p> -->
              <%=f.text_field :phone, class:"phone wpcf7-phone", placeholder: t("uex.phone_plc"), required:true %>
            </div>
            <div class="row">
<!--               <p>Введите Email:</p> -->
              <%=f.email_field :email, class:"wpcf7-email", placeholder: t("uex.email_plc"), required:true %>
            </div>

            <div class="row">
              <input type="submit" value="отправить">
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <div class="col-md-6 col-md-offset-3">
            <p class="action">Спасибо</p>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
