<section class="about-header">
  <div class="container">
    <div class="row">
      <div class="caption">
        <h1><%=t("click.menu_about").upcase%></h1>
      </div>
    </div>
    <div class="row">
      <%= render "menu" %>
    </div>
    <div class="row">
      <div class="col-md-6 ">
          <div class="menu-a hidden-xs">
            <nav id="navbar">
              <p class="menu-caption"><%=t("click.menu")%></p>
              <div id="c-menu" class="c-menu c-menu--htx">
                <span class="label-menu"><%=t("click.menu")%></span>
              </div>
            </nav>
          </div>
          <div class="img-seo">
            <img src="img/roma-img.png" alt="img" class="right">
            <div class="caption">
              <p>Васинюк Роман</p>
              <p>руководитель отдела продаж</p>
            </div>
          </div>
          <img src="/img/roma-bg.png" alt="img" class="right">
      </div>
      <div class="col-md-5">
        <div class="block-text">
          <p class="zag"> НАША ИСТОРИЯ </p>
          <hr>
          <p> Всё имеет своё начало. Так и наша компания основалась с малого. Это был стакан воды. Капля за каплей мы наполняли его опытом, пока он не превратился в реку идей и предложений для наших клиентов. Сегодня это океан, который украшает берега Вашего бизнеса. Сегодня мы с уверенностью можем сказать, что мы знаем как управлять волнами этого океана, дабы добиться успеха для Вас.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-block">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="block-text">
              <p class="zag"> НАШ ПРОДУКТ </p>
              <hr>
              <p> Предоставлять только качественный продукт – вот наше кредо! Если ты берешься за работу, ты просто обязан не только довести её до конца, но и сделать это на «отлично». Индивидуальное отношение к каждому проекту позволяет совершенствоваться. Независимо от того, с чем Вы пришли к нам, сотрудничество с нами принесет Вам уникальный, а главное – успешный продукт.             </p>
            </div>
      </div>
      <div class="col-md-5 col-md-offset-2">
      <div class="img-seo">
            <img src="/img/marina-img.png" alt="img" class="right">
            <div class="caption">
              <p>Устинова Марина</p>
              <p>руководитель IT отдела</p>
            </div>
          </div>
          <img src="img/marina-bg.png" alt="img" class="right">
      </div>
    </div>
  </div>
</section>

<section class="about-block">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="img-seo-pasha">
            <img src="img/pasha.png" alt="img" class="right">
            <div class="caption">
              <p>Курий Павел</p>
              <p>руководитель отдела технического обеспечения</p>
            </div>
          </div>
          <img src="/img/pasha-bg.png" alt="img" class="right">
        </div>
      <div class="col-md-5 col-md-offset-2">
        <div class="block-text">
              <p class="zag"> НАШ РЫНОК </p>
              <hr>
              <p> Как никто другой, мы понимаем тонкость торговли. Независимо от того, чем занимается наш клиент – мы готовы взять даже самые сложные проекты. Изо дня в день список нашей клиентской базы расширяется. Вместе с ним увеличивается Ваше доверие, наш опыт. Попробовав наши услуги один раз, Вы не сможете отказаться в дальнейшем. Ведь кто захочет отказываться от успеха? </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="caption">
          <p>НАША КОМАНДА</p>
        </div>
        <div class="col-md-3 person-1">
          <div class="person">
            <img src="/img/person/misha.png" alt="">
            <div class="caption">
              <p class="name">Михаил Селиванов</p>
              <p>нач. отдела маркетинга</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 person-2">
          <div class="person">
            <img src="img/person/bodja.png" alt="">
            <div class="caption">
              <p class="name">Богдан Суланов</p>
              <p>UI/UX designer</p>
            </div>
          </div>
          <div class="person">
            <img src="/img/person/yura.png" alt="">
            <div class="caption">
              <p class="name">Юрий Трохименко</p>
              <p>frontend developer</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 person-3">
          <div class="person">
            <img src="/img/person/anna.png" alt="">
            <div class="caption">
              <p class="name">Анна Костогриз</p>
              <p>копірайтер, smm</p>
            </div>
          </div>
          <div class="person">
            <img src="/img/person/dina.png" alt="">
            <div class="caption">
              <p class="name">Дина Петрова</p>
              <p>администратор офиса</p>
            </div>
          </div>
          <div class="person">
            <img src="/img/person/yura2.png" alt="">
            <div class="caption">
              <p class="name">Юрий Пасека</p>
              <p>спец, по контексту, AdWords</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 person-4">
          <div class="person">
            <img src="/img/person/taras.png" alt="">
            <div class="caption">
              <p class="name">Тарас Петрук</p>
              <p>Менеджер</p>
            </div>
          </div>
          <div class="person">
            <img src="/img/person/misha2.png" alt="">
            <div class="caption">
              <p class="name">Михаил Мостовой</p>
              <p>менеджер</p>
            </div>
          </div>
          <div class="person">
            <img src="/img/person/nazik.png" alt="">
            <div class="caption">
              <p class="name">Назар Гаврушко</p>
              <p>Менеджер</p>
            </div>
          </div>
          <div class="person">
            <img src="/img/person/vasja.png" alt="">
            <div class="caption">
              <p class="name">Василий Гнатюк</p>
              <p>копирайтер, smm</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="block-text">
            <p class="zag"> ТОЛЬКО ВПЕРЕД </p>
            <hr>
            <p>Команда профессионалов своего дела работает специально для Вас. Мы вкладываем не только идеи, но и собственный опыт в любимое дело! «Делай работу на все 100 или не делай её вовсе» - мы выбираем первое. Качественно, быстро, уникально – лучшее для Вас. Двигаясь только вперед, мы готовы покорять новые вершины бизнеса. Покоряйте их вместе с нами.
            </p>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
