
<header class="contekst-reklama">
  <%= render "menu" %>
  <div class="container">
    <div class="row">
      <div class="menu-a">
        <nav id="navbar">
          <p class="menu-caption"><%=t("click.menu")%></p>
          <div id="c-menu" class="c-menu c-menu--htx">
            <span class="label-menu"><%=t("click.menu")%></span>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<section class="contekst-reklama-block">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <img src="/img/context-icon.png" alt="img">
      </div>
      <div class="col-md-5">
        <h2>Контекстная реклама</h2>
        <p>Ваш бизнес – Ваше детище. Вы прикладываете огромные усилия для его развития. Цель каждого предпринимателя – получение прибыли. Арифметика проста: есть клиенты – есть прибыль. </p>
      </div>
      <div class="col-md-5">
      <div id="wmyCarousel" class="carousel">
                <a class="carousel-control left" href="#wmyCarousel" data-slide="prev"><img src="/img/prev-icon.png" alt="perv"></a>
                <div class="carousel-inner">
                    <div class="item active">
                      <img src="/img/slide-1.jpg" alt="slide-img">
                    </div>
                    <div class="item">
                      <img src="/img/slide-1.jpg" alt="slide-img">
                    </div>
                    <div class="item">
                      <img src="/img/slide-1.jpg" alt="slide-img">
                    </div>
                </div>
                <a class="carousel-control right" href="#wmyCarousel" data-slide="next"><img src="/img/next-icon.png" alt="next"></a>
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <img src="/img/img-google.jpg" alt="img" class="img">
      </div>
      <div class="col-md-5">
        <p>Контекстная реклама гугл позволяет Вам быть в нужном месте в нужное время.  Клиент производит поиск в интернете, находит Вас на первых позициях поисковой системы. Поиск окончен – он звонит Вам. </p>
        <hr class="small-line-g">
        <p>Реклама настраивается и запускается в течение одного дня, это значит, что долго ждать результатов не придется. </p>
        <hr class="small-line-g">
        <p>Эффективность контекстной рекламы поражает. Компания, которая рекламируется в интернете, растет на глазах. </p>
      </div>
    </div>
  </div>
</section>

<section class="contekst-contakt bg-1" data-speed="45" data-type="bg-1" style="background-position: 50% 0px;">
  <div class="container">
    <div class="row contact-text">
      <p>Мечтаете зарабатывать ещё больше? Реклама в <br>
      интернете - это именно то, что Вам нужно!</p>
      <hr class="small-line-w">
      <p>Реклама на платформе UEX: от 1745 грн./мес. Включает в себя уникальный текст и анимированый баннер. <br>
      Реклама сайта заказчика: 2355 грн./мес. <br>
      Демонстрация работы - бесплатно. <br>
      Создание рекламы: один рабочий день.
      </p>
    </div>
    <div class="text-center">
      <a href="#" class="btn-y"  data-toggle="modal" data-target="#myModal">СВЯЗАТЬСЯ</a>
    </div>
  </div>
</section>

<section class="contekst-social-block">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <img src="/img/social-icon.png" alt="img">
      </div>
      <div class="col-md-5">
        <h3>Реклама в соц. сетях</h3>
        <p>Статистика показывает, что каждый второй житель пользуется социальными сетями. На сегодняшний день их насчитывается немеренное количество. Так почему бы не создать собственную рекламную кампанию, там, где её обязательно заметят? </p>
        <p>Пространство, которое объединяет в себе миллионы пользователей, гарантирует эффективное развитие рекламы.</p>
      </div>
      <div class="col-md-6">
        <img src="/img/kontekst-social-logo.jpg" alt="img" class="img">
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <img src="/img/kontekst-social-logo-2.jpg" alt="img" class="img">
      </div>
      <div class="col-md-5">
        <p>Социальные сети являются эффективной маркетинговой площадкой. Реклама не навязывает услугу или товар, скорее предлагает ознакомиться. Она позволяет потенциальному клиенту детально ознакомиться с предложением</p>
        <p>Ведущие мировые бренды Facebook и Вконтакте позволяюот создать контекстную рекламу прямо у них. Она обязательно привлечет новых клиентов и увеличит Вашу прибыль. </p>
        <p>Вторым и не менее важным этапом рекламы в соц. сетях является создание собственной группы. Увеличение количества подписчиков, постоянное наполнение группы интересной информацией. Будьте привлекательны для гостей и они обязательно станут Вашими клиентами. </p>
      </div>
      <div class="col-md-2">
        <img src="/img/kubic.jpg" alt="img">
      </div>
    </div>
  </div>
</section>

<section class="contekst-contakt bg-2"  data-speed="45" data-type="bg-2" style="background-position: 50% 0px;">
  <div class="container">
    <div class="row contact-text">
      <p>Дополните эффект созданием т.н. скрытой рекламы в <br>
      интернете. Яркие изображения, «цепляющие <br>
       заголовки» - будьте первыми.</p>
      <hr class="small-line-w">
      <p><b><i><u>Реклама в соц.сетях:</u></i></b> <br>
      индивидуальная настройка кампании от 1000 грн. <br>
      (дополнительно оплачивается бюджет заказчика) <br>
Настройка: в течение одного рабочего дня.
      </p>
    </div>
    <div class="text-center">
      <a href="#" class="btn-y"  data-toggle="modal" data-target="#myModal">СВЯЗАТЬСЯ</a>
    </div>
  </div>
</section>

<section class="contekst-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <img src="/img/flag.png" alt="img">
      </div>
      <div class="col-md-5">
        <h3>Баннерная реклама <img src="/img/attention.png" alt="img"></h3>
        <p>Баннер – это некая визитная карточка Вашего дела. Покажите эту карточку тем, кто уже интересуется или же потенциально заинтересованным клиентам.  Баннерная реклама, суть её работы довольно проста: мы размещаем  как статические, так и анимированные баннеры в сети тематических сайтов. </p>
        <p>Если потенциальный покупатель производил поиск определенной услуги или товара в интернете, в дальнейшем, на других привычных сайтах он будет видеть отображение того, что ранее искал в виде небольшого рекламного блока. </p>
      </div>
      <div class="col-md-6">
        <div class="st-img">
            <img src="/img/right-st-icon.png" alt="img">
          </div>
            <div id="wmyCarousel2" class="carousel">
              <div class="col-md-1">
                <a class="carousel-control left" href="#wmyCarousel2" data-slide="prev"><img src="/img/prev-icon.png" alt="perv"></a>
              </div>
                <div class="col-md-10">
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="/img/slide-2.jpg" alt="slide-img">
                    </div>
                    <div class="item">
                      <img src="/img/slide-2.jpg" alt="slide-img">
                    </div>
                    <div class="item">
                      <img src="/img/slide-2.jpg" alt="slide-img">
                    </div>
                </div>
                </div>
              <div class="col-md-1">
                <a class="carousel-control right" href="#wmyCarousel2" data-slide="next"><img src="/img/next-icon.png" alt="next"></a>
              </div>
            </div>
            <div class="st-img">
              <img src="/img/left-st-icon.png" class="right" alt="img">
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="/img/img-000.jpg" alt="img" class="img">
      </div>
      <div class="col-md-8">
        <p>Основной задачей баннерной рекламы является информирование потенциальных потребителей о Вашем продукте или же продвижение бренда в целом. Постоянный показ Вашей рекламы в виде баннеров сделает Ваш бизнес узнаваемым среди целевой аудитории.
Размещение баннерной рекламы максимально эффективно при проведении комплексных рекламных кампаний. В комплекте с контекстной рекламой или  SEO результат удваивается.
</p>
      </div>
    </div>
  </div>
</section>

<section class="contekst-contakt bg-3"  data-speed="45" data-type="bg-3" style="background-position: 50% 0px;">
  <div class="container">
    <div class="row contact-text">
      <p>Баннерная реклама  в интернете – один из самых популярных маркетинговых ходов.
Новый бренд или уже существующий, Ваш логотип или слоган станет популярным и узнаваемым в два счета. </p>
      <hr class="small-line-w">
      <p>Баннерная реклама: индивидуальная настройка кампании от 1000 грн. (дополнительно оплачивается бюджет заказчика)
Настройка: в течение одного рабочего дня.
      </p>
    </div>
    <div class="text-center">
      <a href="#" class="btn-y"  data-toggle="modal" data-target="#myModal">СВЯЗАТЬСЯ</a>
    </div>
  </div>
</section>
