<header class="marketing-header">
  <%= render "menu"%>
  <div class="container">
    <div class="row">
      <div class="menu-a">
        <nav id="navbar">
          <p class="menu-caption"><%=t("click.menu")%></p>
          <div id="c-menu" class="c-menu c-menu--htx">
            <span class="label-menu"><%=t("click.menu")%></span>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<section class="marketing-conent">
  <div class="container">
    <div class="row">
      <p class="zag">ИНТЕРНЕТ МАРКЕТИНГ</p>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Интернет маркетинг - эффективные поэтапные маркетинговые мероприятия по рекламе товаров и услуг в мировой сети.</p>
        <p>При правильном подходе и квалифицированном анализе, интернет маркетинг станет настоящей золотой жилой Вашего бизнеса. </p>
        <p>Мы создадим Вашу собственную рекламную кампанию, увеличим количество Ваших постоянных клиентов, а также удвоим Ваш доход. </p>
      </div>
      <div class="col-md-5">
        <img src="/img/imgtag.jpg" alt="img">
      </div>
    </div>
    <div class="row indent">
      <div class="col-md-3 col-md-offset-1">
        <div class="block">
            <h3>АНАЛИЗ РЫНКА</h3>
            <p>Для того чтоб создать качественный план Вашего интернет развития важно понимать рынок, на котором Вы работаете. Проработаем всё от А до Я. Помогаем Вам стать лучшими в своём сегменте.</p>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <div class="block">
          <h3>СОЗДАНИЕ КОНТЕНТА</h3>
          <p>После проведения комплексного анализа, создается сама стратегия Вашего интернет развития. Привлечение целевого трафика, реклама, SMM сопровождение ресурса: Ваш сайт будет на первой странице поиска. </p>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <div class="block">
            <h3>ПОВЫШЕНИЕ КОНВЕРСИИ</h3>
            <p>В течение 6 месяцев, Вы будете видеть результаты. Ваш сайт будет находиться в ТОП-5 Google по ключевым словам. Популярность в интернете растёт. Максимальное количество гостей автоматически превращаются в потенциальных клиентов. А это, в свою очередь, приносит Вам прибыль. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="marketing-contakt">
  <div class="container">
    <div class="row contact-text">
      <p>Хватит ждать - пора действовать. Интернет маркетинг - успех в Ваших руках. </p>
      <hr class="small-line-w">
      <p><b><i>Разовый платеж, для инициации первого этапа комплекса:</i></b> 21 000 грн. (+затраты на контекстную рекламу)</p>
<p>Ежемесячная оплата
сопровождения: 9000 грн.</p>
<p>Размещение информации энциклопедии Википедия по трем ключевым запросам в ПОДАРОК
      </p>
    </div>
    <div class="text-center">
      <a href="#" class="btn-y" data-toggle="modal" data-target="#myModal">СВЯЗАТЬСЯ</a>
    </div>
  </div>
</section>
