<header class="seo-header">
  <%= render "menu" %>
  <div class="container">
    <div class="row">
      <div class="menu-a">
        <nav id="navbar">
          <p class="menu-caption">><%=t("click.menu")%></p>
          <div id="c-menu" class="c-menu c-menu--htx">
            <span class="label-menu">><%=t("click.menu")%></span>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<section class="seo-block">
  <div class="container">
    <div class="row">
      <p class="caption">
        SEO ОПТИМИЗАЦИЯ
      </p>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Создавая свой сайт, Вы должны быть уверенны, что он принесёт Вам доход. Услуга SEO оптимизации позволит «прокачать» Вашу страничку по полной. </p>
        <p>Комплекс мероприятий объединил в себе многосторонние подходы.  Проанализировав Ваш сайт, мы корректируем его в соответствии с запросами поисковых систем.  </p>
        <p>Подобная оптимизация позволит ему находиться на первых страницах ведущих поисковиков, тем самым увеличивая процент его посещаемости.   </p>
      </div>
      <div class="col-md-5">
        <img src="/img/img-004.jpg" alt="img">
      </div>
    </div>
  </div>
</section>

<section class="seo-contakt bg-seo1" data-speed="45" data-type="bg1" style="background-position: 50% 0px;">
  <div class="container">
    <div class="row contact-text">
      <p>SEO оптимизация – рост продаж и увеличение Вашей прибыли. </p>
      <hr class="small-line-w">
      <p>
        <b><i>SEO сайта: </i></b> от 3500 грн/ мес.+ одноразовый платёж настройка сайта 1500 грн.
      </p>
      <p><b>Длительность: </b>от 6 месяцев </p>
      <p>
        <b><i>Результат:</i></b> первая страница поиска Google/ Яндекс
      </p>
    </div>
    <div class="text-center">
      <a href="#" class="btn-y" data-toggle="modal" data-target="#myModal">СВЯЗАТЬСЯ</a>
    </div>
  </div>
</section>

<section class="seo-block">
  <div class="container">
    <div class="row">
      <p class="caption">
        ПРОДВИЖЕНИЕ В СОЦ.СЕТЯХ
      </p>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Социальные сети – отличная площадка для продвижения Ваших услуг. Миллионы людей ежедневно проводят там огромное количество времени. Почему бы этим не воспользоваться?  </p>
        <p>Расскажите людям о себе! Создание собственной группы, продвижение и наполнение её подписчиками – всё это гарантировано приносит свои плоды.  </p>
        <p>Ваша фирма становится популярной, бренд – узнаваемым. Следовательно, увеличивается и уровень продаж.   </p>
      </div>
      <div class="col-md-5">
        <img src="/img/img-005.jpg" alt="img">
      </div>
    </div>
  </div>
</section>

<section class="seo-contakt bg-seo2" data-speed="45" data-type="bg1" style="background-position: 50% 0px;">
  <div class="container">
    <div class="row contact-text">
      <p>Продвижение в соц. сетях – о Вас узнают, о Вас заговорят. </p>
      <hr class="small-line-w">
      <p>
        Услуга входит в пакет <b>SEO оптимизации</b>.
      </p>
      <p>Стоимость пакета составляет 3500 грн./мес.</p>

    </div>
    <div class="text-center">
      <a href="#" class="btn-y" data-toggle="modal" data-target="#myModal">СВЯЗАТЬСЯ</a>
    </div>
  </div>
</section>

<section class="seo-block">
  <div class="container">
    <div class="row">
      <p class="caption">
        МЕДИА КОНТЕНТ
      </p>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Важно понимать, что наполнение текстом и изображениями – это не всё. Предлагаем Вам наполнение Вашей страницы качественным медиа контентом. </p>
        <p>Яркий видеоролик позволит привлечь внимание к Вашей услуге максимальное количество клиентов.   </p>
        <p>Небольшие качественные видео до 2х минут, окунут пользователя в мир Вашего предложения.   </p>
      </div>
      <div class="col-md-5">
        <img src="/img/img-006.jpg" alt="img">
      </div>
    </div>
  </div>
</section>

<section class="seo-contakt bg-seo3" data-speed="45" data-type="bg1" style="background-position: 50% 0px;">
  <div class="container">
    <div class="row contact-text">
      <p>Попробуйте для себя новый подход к рекламному делу: медиа контент специально для Вас.</p>
      <hr class="small-line-w">
      <p>
        <b><i>Создание видео:  </i></b> от 500 грн.
      </p>
      <p><b>Сроки: </b>до 4-х рабочих дней </p>
    </div>
    <div class="text-center">
      <a href="#" class="btn-y" data-toggle="modal" data-target="#myModal">СВЯЗАТЬСЯ</a>
    </div>
  </div>
</section>

<section class="seo-block">
  <div class="container">
    <div class="row">
      <p class="caption">
        КОПИРАЙТИНГ
      </p>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Текст – незаменимый элемент нашей жизни. Именно поэтому услуга копирайтинга в рекламе важ </p>
        <p>Создать небольшой текст, который оставил бы несгладимые впечатления и подвёл бы человека к нужному действию – высший пилотаж.    </p>
        <p>Качественное наполнение сайта, описание услуг и товаров в соответствии с требованиями поисковых систем. На выходе Вы получаете интересный продажный текст, который увеличит Ваши продажи.   </p>
      </div>
      <div class="col-md-5">
        <img src="/img/img-007.jpg" alt="img">
      </div>
    </div>
  </div>
</section>

<section class="seo-contakt bg-seo4" data-speed="45" data-type="bg1" style="background-position: 50% 0px;">
  <div class="container">
    <div class="row contact-text">
      <p>Напишите о себе качественно.</p>
      <hr class="small-line-w">
      <p>
        <b><i>Копирайтинг:   </i></b>от 50 грн. за 1000 символов.
      </p>
      <p><b>Срок: </b> в зависимости от объема и тематики.  </p>
    </div>
    <div class="text-center">
      <a href="#" class="btn-y" data-toggle="modal" data-target="#myModal">СВЯЗАТЬСЯ</a>
    </div>
  </div>
</section>
