%script{id: 'modal_add_diapason.html', type: 'text/ng-template'}
  .modal-header{'ng-init' => "tariff_url='#{content_tariffs_path}/:hotel_id.json';"}
    %button.bootbox-close-button.close{'ng-click' => 'cancel()', style: 'margin-top: -10px;'} ×
  .modal-body
    %form{name:'itemForm'}
      .row
        .col-md-6
          .form-group{"ng-class" => "{'has-error': itemForm.date_start.$invalid && itemForm.$submitted}"}
            .input-group
              %input.form-control{'close-text' => 'Close',
                                  'type' => 'date',
                                  'datepicker-popup' => '{{format}}',
                                  'datepicker-options' => 'dateOptions',
                                  'min-date' => 'today',
                                  'max-date' => 'item.date_end',
                                  'is-open' =>'start_opened',
                                  name: 'date_start',
                                  'ng-model' => 'item.date_start', type: 'text', required: true}
              %span.input-group-btn
                %button.btn.btn-default{'ng-click' => 'open($event, "start")', :type => 'button'}
                  %i.glyphicon.glyphicon-calendar
        .col-md-6
          .form-group{"ng-class" => "{'has-error': itemForm.date_end.$invalid && itemForm.$submitted}"}
            .input-group
              %input.form-control{'close-text' => 'Close',
                                  'type' => 'date',
                                  'datepicker-popup' => '{{format}}',
                                  'datepicker-options' => 'dateOptions',
                                  'is-open' => 'end_opened',
                                  'min-date' => 'item.date_start',
                                  'max-date' => 'end_year',
                                  name: 'date_end',
                                  'ng-model' => 'item.date_end', type: 'text', required: true}
              %span.input-group-btn
                %button.btn.btn-default{'ng-click' => 'open($event, "end")', :type => 'button'}
                  %i.glyphicon.glyphicon-calendar
      .row
        .col-md-6
          .form-group{"ng-class" => "{'has-error': itemForm.price.$invalid && itemForm.$submitted}"}
            %label=t('b1_admin.tariff.price')
            %input.form-control{name:'price',
                                type:'text',
                                ng_model: 'item.price',
                                'ng-pattern' =>'price_regexp',
                                min: 1,
                                required: true}
        .col-md-6
          .form-group{"ng-class" => "{'has-error': itemForm.currency.$invalid && itemForm.$submitted}"}
            %label=t('b1_admin.tariff.currency')
            %select.form-control{'ng-model' => 'item.currency',
                                 name: 'currency',
                                 'ng-options' => "currency as currency for currency in #{Settings.hotelier_currency.to_json}",
                                 'ng-init' => "item.currency= 'UAH';",
                                 disabled: true,
                                 required: true}
      .row
        .col-md-6
          .form-group{"ng-class" => "{'has-error': itemForm.quota.$invalid && itemForm.$submitted}"}
            %label=I18n.t('b1_admin.tariff.quota')
            .row
              .col-md-2{style:'margin-top: 6px;'}
                %input.js-switch{type:'checkbox',
                                 'ui-switch' => 'true',
                                 'ng-model' => 'enable_quota'}

              .col-md-10
                %input.form-control{name:'quota',
                                  type:'number',
                                  'ng-model' => 'item.quota',
                                  'ng-disabled' => '!enable_quota',
                                  value: 0.0,
                                  min: 1,
                                  required: true}
  .modal-footer
    %button.btn.btn-primary{'ng-click' => 'save()'}=t('b1_admin.save')
    %button.btn.btn-default{'ng-click' => 'cancel()'}=t('b1_admin.cancel')
