#content-container{ng_controller: 'TariffController', ng_mouseup:'mouseup($event);', :'data-url'=>content_tariffs_path, 'data-placement_url' => content_placements_path, :'data-delete-text'=>t('b1_admin.delete_confirm'), ng_init: "rooms=#{@rooms.to_json}; hotel_id='#{params[:id]}'"}
  #page-title
    %h1.page-header.text-overflow
      =t('b1_admin.tariff_map')
  #page-content
    .row
      .col-md-12#items
        .panel
          / .panel-heading
          .panel-body
            = render 'tariffs_map'