@charset "utf-8";
body, html {
	background-image: url(../images/bkg.jpg);
	background-color: #fff;
	font-family:Arial;
	font-size: 18px;
	margin:10px; 
	padding:0; 
	width:100%; 
	height:100%;
} 
.block-l {
	position:relative; 
	float:left; 
	margin:0; 
	padding:0;
} 
.block-r {
	position:relative; 
	float:right; 
	margin:0; 
	padding:0;
} 
.centre {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 3px;
	padding: 1px 20px;
}
footer, header, section {
	width:100%;
	display:block; 
	position:relative; 
	float:left;
} 
img {
	vertical-align:middle;
} 
header.header, section.section, section.section2,
footer.footer{
	width:100%; 
	height:auto;
}
h1,h2{
	text-align: center;
	margin-bottom: 20px; 
}
p{
	text-align: justify;
	word-spacing: 0.7ex;
	padding: 15px 45px;
	margin-bottom: 55px;
}
.partners {
    position: fixed;
  	z-index: 10;
	margin: 160px -185px;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.partners img{
	width: 75%;
}
.preview p, .banner, .info, .copyright, .info_text_wi p{
	text-align: center;
}
.banner img{
	margin-top: 20px;
	width: 100%;
}
.link a{
	display: block;
	text-align: center;
	margin: 30px;
	font-size: 25px;
	color: navy;
}
.link a:hover{
	color: red;
}
.info_img{
	width: 25%;
}
.info_img img{
	width: 100%;
}
.info_text{
	width: 75%;
}
.info_text_wi{
	width: 100%;
}
.mab p{
	margin: 0;
}
.contacts ul{
	margin: -5px 0 15px -25px;
}
.contacts h2{
	margin: 10px 0px 10px 15px;
}
.contacts li{
	text-align: center;
	list-style: none;
}
.footerblock a{
	font-weight: bold;
	text-decoration: none;
	color: #418cc4;
}
.copyright{
	margin: 5px 0px 15px;
}
