<div class="cherry-tabs-pane cherry-clearfix  " style="display: none;">
  <div class="container">
    <div class="content-area">
      <div id="comments" class="comments-area">
         <div class="comments">
            <h3 class="comments-title">3 responses</h3>
            <ol class="comment-list">
               <li id="comment-32" class="comment even thread-even depth-1 parent">
                  <article id="div-comment-32" class="comment-body">
                     <footer class="comment-meta">
                        <div class="comment-author vcard">
                           <img alt="" src="http://1.gravatar.com/avatar/126eacb397318a52073e24bf5b7781a1?s=83&amp;d=mm&amp;r=g" srcset="http://1.gravatar.com/avatar/126eacb397318a52073e24bf5b7781a1?s=166&amp;d=mm&amp;r=g 2x" class="avatar avatar-83 photo" height="83" width="83"> <b class="fn">Bernard Show</b> <span class="says">says:</span>
                        </div>
                        <div class="comment-metadata">
                           <a href="http://livedemo00.template-help.com/wordpress_55766/allergyasthma/innovative-laboratory-services-to-enhance-patient-health/#comment-32">
                           <time datetime="2015-10-20T09:16:36+00:00">
                           October 20, 2015 at 9:16 am </time>
                           </a>
                        </div>
                     </footer>
                     <div class="comment-content">
                        <p>That’s awesome! Future belongs to youngsters, so businessmen can’t ignore their needs in any case.</p>
                     </div>
                     <div class="reply"><a rel="nofollow" class="comment-reply-link" href="http://livedemo00.template-help.com/wordpress_55766/allergyasthma/innovative-laboratory-services-to-enhance-patient-health/?replytocom=32#respond" onclick="return addComment.moveForm( &quot;div-comment-32&quot;, &quot;32&quot;, &quot;respond&quot;, &quot;22&quot; )" aria-label="Reply to Bernard Show">Reply</a></div>
                  </article>
                  <ol class="children">
                     <li id="comment-33" class="comment odd alt depth-2 parent">
                        <article id="div-comment-33" class="comment-body">
                           <footer class="comment-meta">
                              <div class="comment-author vcard">
                                 <img alt="" src="http://1.gravatar.com/avatar/126eacb397318a52073e24bf5b7781a1?s=83&amp;d=mm&amp;r=g" srcset="http://1.gravatar.com/avatar/126eacb397318a52073e24bf5b7781a1?s=166&amp;d=mm&amp;r=g 2x" class="avatar avatar-83 photo" height="83" width="83"> <b class="fn">Sarah Cole</b> <span class="says">says:</span>
                              </div>
                              <div class="comment-metadata">
                                 <a href="http://livedemo00.template-help.com/wordpress_55766/allergyasthma/innovative-laboratory-services-to-enhance-patient-health/#comment-33">
                                 <time datetime="2015-10-20T09:21:05+00:00">
                                 October 20, 2015 at 9:21 am </time>
                                 </a>
                              </div>
                           </footer>
                           <div class="comment-content">
                              <p>The author did a great job with all these research work. Really valuable information, thank you!</p>
                           </div>
                           <div class="reply"><a rel="nofollow" class="comment-reply-link" href="http://livedemo00.template-help.com/wordpress_55766/allergyasthma/innovative-laboratory-services-to-enhance-patient-health/?replytocom=33#respond" onclick="return addComment.moveForm( &quot;div-comment-33&quot;, &quot;33&quot;, &quot;respond&quot;, &quot;22&quot; )" aria-label="Reply to Sarah Cole">Reply</a></div>
                        </article>
                        <ol class="children">
                           <li id="comment-34" class="comment even depth-3">
                              <article id="div-comment-34" class="comment-body">
                                 <footer class="comment-meta">
                                    <div class="comment-author vcard">
                                       <img alt="" src="http://1.gravatar.com/avatar/126eacb397318a52073e24bf5b7781a1?s=83&amp;d=mm&amp;r=g" srcset="http://1.gravatar.com/avatar/126eacb397318a52073e24bf5b7781a1?s=166&amp;d=mm&amp;r=g 2x" class="avatar avatar-83 photo" height="83" width="83"> <b class="fn">Michael Ventura</b> <span class="says">says:</span>
                                    </div>
                                    <div class="comment-metadata">
                                       <a href="http://livedemo00.template-help.com/wordpress_55766/allergyasthma/innovative-laboratory-services-to-enhance-patient-health/#comment-34">
                                       <time datetime="2015-10-20T09:22:01+00:00">
                                       October 20, 2015 at 9:22 am </time>
                                       </a>
                                    </div>
                                 </footer>
                                 <div class="comment-content">
                                    <p>Completely agree with the author. Modern businessmen should involve young people, introduce brands to them, socialize… Looks like a fresh product market!</p>
                                 </div>
                                 <div class="reply"><a rel="nofollow" class="comment-reply-link" href="http://livedemo00.template-help.com/wordpress_55766/allergyasthma/innovative-laboratory-services-to-enhance-patient-health/?replytocom=34#respond" onclick="return addComment.moveForm( &quot;div-comment-34&quot;, &quot;34&quot;, &quot;respond&quot;, &quot;22&quot; )" aria-label="Reply to Michael Ventura">Reply</a></div>
                              </article>
                           </li>
                        </ol>
                     </li>
                  </ol>
               </li>
            </ol>
         </div>
         <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">Leave a reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/wordpress_55766/allergyasthma/innovative-laboratory-services-to-enhance-patient-health/#respond" style="display:none;">Cancel reply</a></small></h3>
            <form action="http://livedemo00.template-help.com/wordpress_55766/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">
               <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6">
                     <p class="comment-form-author"><input id="author" name="author" type="text" placeholder="Name" value="" size="30" aria-required="true" required="required"></p>
                     <p class="comment-form-email"><input id="email" name="email" type="text" placeholder="E-mail" value="" size="30" aria-describedby="email-notes" aria-required="true" required="required"></p>
                     <p class="comment-form-url"><input id="url" name="url" type="text" placeholder="Website" value="" size="30"></p>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6">
                     <p class="comment-form-comment"><textarea id="comment" name="comment" placeholder="Comment" cols="45" rows="8" aria-describedby="form-allowed-tags" aria-required="true" required="required"></textarea></p>
                     <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Submit"> <input type="hidden" name="comment_post_ID" value="22" id="comment_post_ID">
                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                     </p>
                  </div>
               </div>
            </form>
         </div>
      </div>
    </div>
  </div>
</div>
