:css
  .my-drop-zone {
    border: dotted 3px lightgray;
    cursor: pointer;
  }
  .nv-file-over { border: dotted 3px red; }

  .carousel-inner {
    height: 250px;
  }
  .carousel-inner img{
    max-height : 250px !important;
  }
  #image_popup{
    max-width: 100%;
  }
  #image_popup .img-responsive {
    margin: auto;
  }
  #image_popup .modal-dialog{
    width: auto;
    max-width: 90%
  }
.panel-body{'ng-controller' => 'HotelImagesCtrl', 'ng-init' => "hotel_id = editedItem.id; getImages();" ,"data-image-url"=>content_hotel_images_path, :"data-delete-text"=>t("b1_admin.delete_media_confirm")}
  .row
    .col-md-4.well.my-drop-zone{'nv-file-drop' => '', 'nv-file-over' => '', 'uploader' => 'hotel_image_uploader', 'ng-click' => 'click_image_upload();'}
      %input.hide{type: 'file', id:'hidden-file-input', 'nv-file-select' => '', 'uploader' => 'hotel_image_uploader'}
      Загрузите или переместите сюда фотографии вашего отеля
  .row.well.well-sm
    .col-md-4
      .form-group
        .carousel.slide{'ng-model' => 'carousel', 'data-interval'=>"false"}
          .carousel-inner
            .item{'ng-repeat' => 'image in images', 'ng-class' => "{'active':$index == 0}", 'data-img-id'=> '{{image.id}}',style:"text-align: center;"}
              %img{'ng-src' => '{{image.image_url}}','style' => 'display:inline'}
          %a.left.carousel-control{'ng-click' => 'galleryPrev()',style:"cursor:pointer;"}
            %span.fa.fa-chevron-left{'style' => 'margin-top: 240%;'}
          %a.right.carousel-control{'ng-click' => 'galleryNext()',style:"cursor:pointer;"}
            %span.fa.fa-chevron-right{'style' => 'margin-top: 240%;'}
    .col-md-8
      - I18n.available_locales.each do |l|
        .form-group.row
          .col-md-6
            %label="Описание #{l.to_s.upcase}"
            %input.form-control{ 'ng-model' => "image.description_translations['#{l}']" }
      .form-group.row
        .col-md-2
          %label{'for' => 'main_image'} Основная фотография
          %input.js-switch{"ui-switch" => "true", type: "checkbox",id:"main_image", "ng-model"=>"image.main_image"}
      .form-group.row
        .col-md-6
          %a.btn.btn-sm.btn-primary.pull-right{"ng-click" => "update_image_data($event)"}
            %i.fa.fa-pencil.fa-fw
            =t("b1_admin.save")
  .row.well.well-sm
    .col-md-3.col-xs-3{'ng-repeat' => 'image in images track by $index'}
      .thumbnail
        %img{'ng-src' => '{{image.image_url}}',
             'ng-click' => 'image_click($index, image)',
             'style' => 'cursor:pointer;height:230px;width:340px'}
        .caption
          %p
            %a.btn.btn-danger{'ng-click' => 'delete($event, image)'}
              %span.fa.fa-trash-o

  .modal.fade#image_popup{'tabindex' => '-1',
                          'role' => 'dialog',
                          'aria-hidden' => 'true'}
    .modal-dialog
      .modal-content
        .modal-body
          %img.img-responsive{'ng-src' => '{{src_image_popup}}'}
