/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require reset.css
 *= require magnific-popup
 *= require calendar
 *= require jquery.selectbox
 *= require style
 */
.hidden{
  display: none;
}
input.error, p.error{
  border: 1px solid red!important;
}
.answer_option{
  float:left;
}
.table {
  display: table;   /* Allow the centering to work */
  /*margin: 0 auto;*/
}
.question {
  margin: 10px 0;
  text-align: left;
}
.min_empty {
    height: 50px;
}
.correct_answers{
  display: table;
  margin: 0 auto;
}
.group-selector .sbHolder {
  width: 310px;
  margin: 5px 0;
}

.group-selector  .sbOptions {
  width: 305px;
}
.q_item{
  margin-bottom: 20px;
}
