/*@import "demo.css";*/

.fc-calendar-container {
	position: relative;
	height: 600px;
}

.fc-calendar {
	width: 100%;
	height: 100%;
}

.fc-calendar .fc-head {
	height: 30px;
	margin-top: 25px;
	text-transform: uppercase;
	color: #fefffe;
}

.fc-calendar .fc-body {
	position: relative;
	width: 100%;
	height: 100%;
	height: -moz-calc(100% - 30px);
	height: -webkit-calc(100% - 30px);
	height: calc(100% - 30px);
}

.fc-calendar .fc-row {
	width: 100%;
	height: 105px;
	margin: 0 0 20px 1px;
}

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
	float: left;
	height: 100%;
	position: relative;
}

.fc-calendar .fc-head > div {
	width: 111px;
	margin-right: 30px;
}

.fc-calendar .fc-head > div:last-child {
	margin: 0;
}

/* IE 9 is rounding up the calc it seems */
.ie9 .fc-calendar .fc-row > div,
.ie9 .fc-calendar .fc-head > div {
	width:  14.2%;
}

.fc-calendar .fc-row > div {
	width: 111px;
	height: 110px;
	margin-right: 30px;
	overflow: hidden;
	position: relative;
	//text-transform: lowercase;
	text-align: center;
	border: 2px solid #fff;
	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
			border-radius: 7px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

.fc-calendar .fc-row > div:last-child {
	margin: 0;
}

.fc-calendar .fc-head > div {
	text-align: center;
}

.fc-calendar .fc-row > div > span.fc-date {
	position: absolute;
	top: 50%; left: 50%;
	width: 30px;
	height: 20px;
	margin: -10px -15px; 
	font-size: 24px;
	line-height: 20px;
	color: #fff;
}

.fc-calendar .fc-row > div.fc-content {
	cursor: pointer;
	border-color: #f7eb13;
	&:hover {
		border-color: #ee3624;
	}
}

.fc-calendar .fc-row > div.fc-content b {
	color: #f7eb13;
}

.fc-calendar .fc-row > div.fc-content p {
	margin-bottom: 5px;
	color: #fff;
	font-size: 13px;
}

.fc-calendar .fc-row > div.fc-content span {
	position: relative;
	top: auto;
	left: auto;
	line-height: 50px;
}

.fc-calendar .fc-row > div > span.fc-weekday {
	padding-left: 5px;
	display: none;
}

.fc-calendar .fc-row > div.fc-out {
	opacity: 0.6;
}

time {
	display: none;
}

.fc-calendar .fc-row > div.fc-content a {
	text-decoration: none;
	color: #fff;
}

.fc-calendar .fc-row > div.fc-content.multiple a {
	font-size: 11px;
}

.fc-calendar .fc-row > div.fc-content.multiple span {
	line-height: 30px;
}

.fc-calendar .fc-row > div.fc-content.multiple p {
	margin-bottom: 0;
	font-size: 11px;
}

.fc-calendar .fc-row > div.fc-content a:hover {
	text-decoration: underline;
}

.fc-calendar .fc-row > div.fc-content.multiple .fc-calendar-event {
	padding-bottom: 1px;
}

.fc-calendar .fc-row > div.fc-content.multiple .fc-calendar-event:nth-child(2) {
	padding-top: 1px;
	border-top: 1px solid #f7eb13;
}