.col-1 {
  padding-left: 10px;
  padding-right: 10px;
  width: 8.33333333%;
}
.offset-1 {
  margin-left: 8.33333333%;
}
.push-1 {
  left: 8.33333333%;
}
.pull-1 {
  right: 8.33333333%;
}
.col-2 {
  padding-left: 10px;
  padding-right: 10px;
  width: 16.66666667%;
}
.offset-2 {
  margin-left: 16.66666667%;
}
.push-2 {
  left: 16.66666667%;
}
.pull-2 {
  right: 16.66666667%;
}
.col-3 {
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
}
.offset-3 {
  margin-left: 25%;
}
.push-3 {
  left: 25%;
}
.pull-3 {
  right: 25%;
}
.col-4 {
  padding-left: 10px;
  padding-right: 10px;
  width: 33.33333333%;
}
.offset-4 {
  margin-left: 33.33333333%;
}
.push-4 {
  left: 33.33333333%;
}
.pull-4 {
  right: 33.33333333%;
}
.col-5 {
  padding-left: 10px;
  padding-right: 10px;
  width: 41.66666667%;
}
.offset-5 {
  margin-left: 41.66666667%;
}
.push-5 {
  left: 41.66666667%;
}
.pull-5 {
  right: 41.66666667%;
}
.col-6 {
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}
.offset-6 {
  margin-left: 50%;
}
.push-6 {
  left: 50%;
}
.pull-6 {
  right: 50%;
}
.col-7 {
  padding-left: 10px;
  padding-right: 10px;
  width: 58.33333333%;
}
.offset-7 {
  margin-left: 58.33333333%;
}
.push-7 {
  left: 58.33333333%;
}
.pull-7 {
  right: 58.33333333%;
}
.col-8 {
  padding-left: 10px;
  padding-right: 10px;
  width: 66.66666667%;
}
.offset-8 {
  margin-left: 66.66666667%;
}
.push-8 {
  left: 66.66666667%;
}
.pull-8 {
  right: 66.66666667%;
}
.col-9 {
  padding-left: 10px;
  padding-right: 10px;
  width: 75%;
}
.offset-9 {
  margin-left: 75%;
}
.push-9 {
  left: 75%;
}
.pull-9 {
  right: 75%;
}
.col-10 {
  padding-left: 10px;
  padding-right: 10px;
  width: 83.33333333%;
}
.offset-10 {
  margin-left: 83.33333333%;
}
.push-10 {
  left: 83.33333333%;
}
.pull-10 {
  right: 83.33333333%;
}
.col-11 {
  padding-left: 10px;
  padding-right: 10px;
  width: 91.66666667%;
}
.offset-11 {
  margin-left: 91.66666667%;
}
.push-11 {
  left: 91.66666667%;
}
.pull-11 {
  right: 91.66666667%;
}
.col-12 {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.offset-12 {
  margin-left: 100%;
}
.push-12 {
  left: 100%;
}
.pull-12 {
  right: 100%;
}
.container {
  width: 980px;
  max-width: 980px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*="col-"] {
  float: left;
  min-height: 1px;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*="col-"].end {
  float: right;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
  clear: both;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row:after {
  display: block;
  clear: both;
  overflow: hidden;
  content: '';
}
.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: 'robotobold';
  src: font_url('roboto-bold-webfont.eot');
  src: font_url('roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), font_url('roboto-bold-webfont.woff2') format('woff2'), font_url('roboto-bold-webfont.woff') format('woff'), font_url('roboto-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: font_url('roboto-regular-webfont.eot');
  src: font_url('roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), font_url('roboto-regular-webfont.woff2') format('woff2'), font_url('roboto-regular-webfont.woff') format('woff'), font_url('roboto-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: font_url('roboto-light-webfont.eot');
  src: font_url('roboto-light-webfont.eot?#iefix') format('embedded-opentype'), font_url('roboto-light-webfont.woff2') format('woff2'), font_url('roboto-light-webfont.woff') format('woff'), font_url('roboto-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  position: relative;
  font-family: 'robotoregular';
  font-size: 14px;
  min-height: 100%;
  margin-top: 70px;
  &.homepage {
    margin: 0;
  }
}
a {
  text-decoration: none;
  font-size: 14px;
  //color: ;
}
a:hover {
  //color: ;
  text-decoration: underline;
}
strong {
  font-family: 'robotobold';
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.clear {
  clear: both;
}
.container_medium,
.container_small {
  width: 980px;
  max-width: 980px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 880px;
}
.container_medium:after,
.container_small:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
}
.container_small {
  width: 750px;
}
.owl {
  position: absolute;
  right: 10%;
  bottom: -12%;
  width: 195px;
  height: 150px;
  background-image: image-url("owl.png");
  background-repeat:  no-repeat;
  background-position:  100% 100%;
  &.alternative {
    background-image: image-url("owl_alt.png");
  }
}
.owl .bobble {
  width: 122px;
  height: 97px;
  text-align: center;
  color: #4a883f;
  padding: 25px 0 0 1px;
  line-height: 16px;
  font-size: 14px;
  font-family: 'robotobold';
  background-image: image-url("bobble.png");
  background-repeat:  no-repeat;
}
.owl .bobble-green {
  position: absolute;
  top: -15px;
  left: -4px;
}
.baloon {
  position: absolute;
  top: -42%;
  left: -16%;
}
.baloon .bobble-green {
  position: absolute;
  top: 52%;
  right: 17%;
}
.bobble-green {
  width: 79px;
  height: 64px;
  color: #fff;
  padding: 25px;
  text-align: center;
  line-height: 17px;
  font-family: 'robotobold';
  background-image: image-url("bobble-green.png");
  background-repeat:  no-repeat;
}
.bobble-green.right {
  background-image: image-url("bobble-green-right.png");
  background-repeat:  no-repeat;
}
.cloud {
  position: absolute;
  right: -30px;
  z-index: -1;
  &.two {
    left: -24%;
    bottom: 31%;
  }
}
.birds {
  width: 222px;
  height: 63px;
  position: absolute;
  top: 43%;
  right: -7%;
}
.birds.two {
  top: 70%;
  left: -10%;
}
.wave {
  width: 100%;
  height: 19px;
  position: absolute;
  top: -19px;
}
.wave.one {
  z-index: 1;
  background-image: image-url('wave.png');
}
.wave.two {
  z-index: 3;
  top: -10px;
  background-image: image-url('wave-2.png');
}
.ship {
  width: 137px;
  height: 134px;
  position: absolute;
  top: -111%;
  right: 0;
  background-image: image-url('boat.png');
  background-repeat:  no-repeat;
  z-index: 2;
}
.shark {
  position: absolute;
  top: -61px;
  left: 9%;
  width: 45px;
  height: 45px;
  background-image: image-url('shark.png');
  background-repeat:  no-repeat;
  z-index: 2;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: #13514f;
  font-family: 'robotobold';
}
.close {
  display: block;
  float: right;
  width: 32px;
  height: 32px;
  background-color: #f7eb13;
  background-image:  image-url('close.png');
  background-repeat:  no-repeat;
  background-position:  50%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.close:hover {
 // background-color: #fff;
}
.subscribe {
  display: inline-block;
  width: 335px;
  padding: 13px 0;
  color: #13514f;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'robotobold';
  background: #f7eb13;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.subscribe.disable {
  color: #00aa92;
  background-color: #69c2be;
}
.subscribe.disable:hover {
  text-decoration: none;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00aa92;
  opacity: .6;
  z-index: 200;
}
.list li {
  padding-left: 17px;
  background-image: image-url('dot-yellow.png');
  background-repeat:  no-repeat;
  background-position:  0 2px;
}
.icheckbox_minimal {
  float: left;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: #69c2be;
}
.icheckbox_minimal.checked {
  background: #fff;
}
.icheckbox_minimal.checked:after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border: 4px solid #69c2be;
}
label {
  font-size: 12px;
  color: #69c2be;
}
/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  background: #69c2be;
  z-index: 200;
}
.header .logo {
  float: left;
}
.header .logo:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
}
.header .top-menu {
  float: left;
  margin: 13px 0 0 50px;
}
.header .top-menu:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
}
.header .top-menu li {
  float: left;
  margin-right: 40px;
}
.header .top-menu a {
  text-transform: uppercase;
  font-size: 18px;
  color: #13514f;
  font-family: 'robotoregular';
}
.header .top-menu a:hover,
.header .top-menu a.active {
  color: #fff;
  text-decoration: none;
}
.header .menu-toggle {
  position: relative;
  float: right;
  margin-top: 6px;
}
.header .menu-toggle .burger {
  display: block;
  float: right;
  width: 31px;
  height: 30px;
  background: #fff;
}
.header .menu-toggle .burger span {
  display: block;
  width: 21px;
  height: 2px;
  margin: 5px auto;
  background: #69c2be;
}
.header .menu-toggle .burger span:first-child {
  margin-top: 7px;
}
.header .menu-toggle .burger.active {
  background: #f47a20;
}
.header .menu-toggle .burger.active span {
  background: #fff;
}
.header .menu-toggle .open-menu {
  display: block;
  position: absolute;
  top: 39px;
  min-width: 163px;
  padding-top: 18px;
  background: #f47a20;
  z-index: 1;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.header .menu-toggle .open-menu li {
  margin: 0 0 13px 15px;
}
.header .menu-toggle .open-menu a {
  text-transform: uppercase;
  color: #ffd1af;
  font-size: 14px;
  font-family: 'robotobold';
}
.header .menu-toggle .open-menu a:hover {
  text-decoration: underline;
  color: #fff;
}
.about {
  position: relative;
  //height: 550px;
  padding-bottom: 100px;
  .owl {
    right: 5%; bottom:6%;
    .bobble-green {
      width: 105px;
      height: 73px;
      padding: 20px 12px;
    }
  }
}
.about .text {
  width: 460px;
  margin: auto;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  color: #13514f;
  font-size: 16px;
}
.about .text p {
  margin-bottom: 15px;
  line-height: 1.3;
}
.about .text ul {
  margin-top: 40px;
  color: #db6627;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  -moz-text-align-last: left;
  text-align-last: left;
}
.about .text ul li {
  margin-bottom: 15px;
}
.steps-block {
  position: relative;
  padding-top: 15px;
  font-family: 'robotobold';
  background: #00aa92;
  h2 {
    color: #f7eb13;
  }
  .steps {
    margin-left: -10px;
    margin-right: -10px;
    clear: both;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    &:after {
      display: block;
      clear: both;
      overflow: hidden;
      content: '';
    }
    .step {
      padding-left: 10px;
      padding-right: 10px;
      width: 33.33333333%;
      float: left;
      min-height: 1px;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-top: 15px;
      padding-bottom: 25px;
      font-size: 14px;
      text-transform: uppercase;
      color: #f7eb13;
      background-image: image-url('steps-arrow.png');
      background-position:  100%;
      background-repeat:  no-repeat;
      &:last-child {
        background: none;
      }
       p {
        margin-top: 10px;
      }
      span {
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        background-image: image-url('steps.png');
        background-repeat:  no-repeat;
      }
    }
    &.steps_five {
      .step {
        width: 20%;
        background-image: none;
        & span.one, & span.two {
          margin-top: 0
        }
        & span.three {
          width: 60px;
          height: 60px;
          background-position: 0 -199px;
        }
        & span.four {
          background-position: 0 -263px;
        }
        & span.five {
          background-position: 0 -327px;
        }
      }
    }
  }
}

.steps-block .steps .step span.one {
  margin-top: 8px;
  background-position: 0 0;
}
.steps-block .steps .step span.two {
  margin-top: 8px;
  background-position: 0 -64px;
}
.steps-block .steps .step span.three {
  width: 67px;
  height: 67px;
  background-position: 0 -127px;
}
.courses-block {
  padding-bottom: 50px;
}
.courses-block .courses-list {
  min-height: 700px;
  margin-top: 40px;
  text-transform: uppercase;
  color: #13514f;
  font-size: 16px;
  text-align: center;
  .courses-desc {
    text-transform: none;
    line-height: 1.5;
  }
  .attention {
    margin-top: 10px;
    color: #f47a20;
  }
}
.courses-block .courses-list .reg {
  font-size: 16px;
  color: #f47a20;
}
.courses-block .row {
  margin-top: 40px;
}
.courses-block .item {
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
  float: left;
  min-height: 1px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.courses-block .item:hover {
  margin-top: -20px;
}
.courses-block .item.offset {
  margin-left: 12.666667%;
}
.courses-block .item .icon {
  height: 230px;
}
.courses-block .item .title {
  margin-left: 20px;
  line-height: 1.4;
}
.courses-block .item a {
  font-size: 16px;
  color: #13514f;
  font-family: 'robotobold';
}
.course-description {
  display: none;
  padding-top: 30px;
  background: #00aa92;
  border-bottom: 66px solid #2c9596;
  .fb-group {
    position: absolute;
    bottom: -13%;
    line-height: 42px;
    margin: 0 0 0 124px;
        cursor: pointer;
    padding: 10px 55px;
    color: #13514f;
    background-repeat:  no-repeat;
    a {
      color: #5cb7b5;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .social-icon {
      display: block;
      float: left;
      margin-right: 15px;
    }
  }
}
.course-description .s-item {
  width: 100%;
  min-height: 610px;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}
.course-description .s-item.reading {
  background: image-url('reading.png') no-repeat 100% 100%;
}
.course-description .s-item.art {
  background: image-url('art.png') no-repeat 100% 100%;
}
.course-description .s-item.travel {
  background: image-url('travel.png') no-repeat 100% 100%;
}
.course-description .s-item.movie {
  background: image-url('movie.png') no-repeat 100% 100%;
}
.course-description .s-item.lifestyle {
  background: image-url('life.png') no-repeat 100% 100%;
}
.course-description .s-item.games {
  background: image-url('games.png') no-repeat 100% 100%;
}
.course-description .s-item.cook {
  background: image-url('cook.png') no-repeat 100% 100%;
}
.course-description .s-item.common {
  background-image: image-url('common.png'), image-url('owl-with-flag.png');
  background-repeat: no-repeat;
  background-position: 100% 100%, 100% 100%;
}
.course-description .s-item.accent {
  background: image-url('accent.png') no-repeat 100% 100%;
}
.course-description .s-item.intensive {
  background: image-url('intensive.png') no-repeat 100% 100%;
}
.course-description .s-item.it {
  background: image-url('it.png') no-repeat 100% 100%;
}
.course-description .s-item.business {
  background: image-url('business.png') no-repeat 100% 100%;
}
.course-description .s-item.financial {
  background: image-url('financial.png') no-repeat 100% 100%;
}
.course-description .s-item.medical {
  background: image-url('medical.png') no-repeat 100% 100%;
}
.course-description .s-item.wat {
  background: image-url('w&t.png') no-repeat 100% 100%;
}
.course-description .s-item p {
  margin-bottom: 15px;
}
.course-description .s-item .schedule {
  display: block;
  margin-top: 15px;
  color: #f7eb13;
  text-transform: uppercase;
}
.course-description .s-item .subscribe {
  position: absolute;
  bottom: 4.4%;
  left: 50%;
  width: auto;
  margin-left: -143px;
  padding: 13px 33px;
}
.course-description .s-item .list {
  margin: 10px 40px 0 0;
}
.course-description .s-item .list li {
  background-position: 0 6px;
}
.cycle-prev,
.cycle-next {
  position: absolute;
  top: 15%;
  display: block;
  width: 33px;
  height: 59px;
  cursor: pointer;
  background-image: image-url('arrows.png');
  background-repeat:  no-repeat;
  z-index: 101;
}
.cycle-prev {
  left: 0;
  background-position: 0 -180px;
}
.cycle-prev:hover {
  background-position: 0 -328px;
}
.cycle-next {
  right: 0;
  background-position: 0 -106px;
}
.cycle-next:hover {
  background-position: 0 -254px;
}
.calendar-block {
  padding: 40px 0;
  background: #00aa92;
}
.calendar-block .owl {
  top: -3px;
  right: 15%;
  z-index: 2;
}
.calendar-block .owl .bobble {
  text-indent: -6px;
  line-height: 19px;
}
.calendar-block h2 {
  color: #fff;
}
.calendar-block .group-select .chose-container .chosen-search {
  display: none;
}
.calendar-block .custom-header {
  position: relative;
  padding: 13px 0;
  background: #f7eb13;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'robotobold';
  color: #13514f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.calendar-block .custom-prev,
.calendar-block .custom-next {
  position: absolute;
  top: 6px;
  display: block;
  cursor: pointer;
  width: 21px;
  height: 38px;
  background-image: image-url('arrows.png');
  background-repeat:  no-repeat;
}
.calendar-block .custom-prev {
  left: 10px;
  background-position: 0 -53px;
}
.calendar-block .custom-next {
  right: 10px;
  background-position: 0 0;
}
.teachers-block {
  padding: 40px 0 80px;
  color: #13514f;
  text-align: center;
}
.teachers-block .s-item {
  width: 100%;
}
.teachers-block .mask {
  width: 350px;
  height: 350px;
  margin: auto;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
}
.teachers-block img {
  width: 100%;
  height: auto;
}
.teachers-block h4 {
  margin-top: 25px;
  text-transform: uppercase;
  font-family: 'robotobold';
  font-size: 16px;
}
.teachers-block .sub {
  width: 750px;
  margin: 15px auto;
  line-height: 1.5;
}
.teachers-block .cycle-prev,
.teachers-block .cycle-next {
  top: 38%;
}
.teachers-block .cycle-prev {
  left: 16%;
  background-position: 0 -476px;
}
.teachers-block .cycle-prev:hover {
  background-position: 0 -328px;
}
.teachers-block .cycle-next {
  right: 16%;
  background-position: 0 -402px;
}
.teachers-block .cycle-next:hover {
  background-position: 0 -254px;
}
.photo-gallery {
  position: relative;
  padding: 40px 0;
  background: #00aa92;
  color: #fff;
}
.photo-gallery h2 {
  color: #fff;
}
.photo-gallery .ship {
  top: -74%;
  left: -3%;
}
.photo-gallery .s-item {
  width: 100%;
}
.photo-gallery .image-link {
  float: left;
  width: 260px;
  height: 195px;
  margin-right: 40px;
  overflow: hidden;
  border-radius: 10px;
}
.photo-gallery .image-link:last-child {
  margin: 0;
}
.photo-gallery .cycle-prev,
.photo-gallery .cycle-next {
  top: 33%;
}
.empty {
  height: 300px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 198px;
  padding: 40px 0;
  color: #fff;
  border-bottom: 22px solid #db6627;
  background-color: #f47a20;
  background-image: image-url('footer_bg-1.png'), image-url('footer_bg-2.png');
  background-position: 0 100%, 100% 100%;
  background-repeat: no-repeat;
}
.footer .subscribe {
  width: auto;
  padding: 13px 8px;
}
.footer h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'robotobold';
}
.footer .vacancy {
  margin-top: 15px;
  text-transform: uppercase;
  font-family: 'robotobold';
}
.footer .vacancy li {
  margin-bottom: 15px;
}
.footer .vacancy a {
  color: #fff;
}
.footer .social {
  float: right;
}
.footer .social li {
  float: left;
  margin-right: 10px;
}
.footer .social li:last-child {
  margin: 0;
}
.footer .social li a {
  display: block;
  width: 37px;
  height: 37px;
  background-image: image-url('social.png');
  background-repeat:  no-repeat;
}
.footer .social li a.pin {
  background-position: 0 0;
}
.footer .social li a:hover {
  margin-top: -5px;
}
.footer .social li a.gp {
  background-position: -44px 0;
}
.footer .social li a.inst {
  background-position: -87px 0;
}
.footer .social li a.fb {
  background-position: -131px 0;
}
.footer .social li a.vk {
  background-position: -174px 0;
}
.footer .contacts {
  margin-top: 20px;
  text-align: right;
}
.footer .contacts li {
  margin-bottom: 10px;
}
.footer .contacts a {
  color: #fff;
}
.form-block {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -216px 0 0 -430px;
  width: 780px;
  padding: 30px 40px;
  color: #13514f;
  text-align: center;
  background: #fff;
  border-radius: 12px;
  z-index: 200;
  .sbHolder {
    float: right;
    margin: 0;
    background-color: #00aa92;
    color: #fff;
  }
  .sbSelector {
    color: #fff;
  }
  .sbOptions {
    width: 346px;
    left: 6px;
  }
    // background: #69c2be;
    // border: none;
    // border-radius: 0 0 15px 15px;
  //   a {
  //     color: #fff;
  //     &:hover {
  //       text-decoration: underline;
  //       background: none;
  //     }
  //   }
  // }
  .icheckbox_minimal {
    margin-left: 20px;
  }
}
.form-block .close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.form-block .user-data {
  position: relative;
  width: 740px;
  margin: 26px auto 60px;
  text-align: left;
}
.form-block .form-row {
  position: relative;
  margin-bottom: 20px;
}
.form-block .form-row:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
}
.form-block .txtinput {
  width: 360px;
}
.form-block .subscribe.test {
  width: auto;
  padding: 12px 31px;
  margin-left: 20px;
}
.form-block .subscribe .hover {
  display: none;
}
.form-block .subscribe:hover {
  //padding: 13px 66px;
}
.form-block .subscribe:hover .hover {
  display: block;
}
.form-block .subscribe:hover .normal {
  display: none;
}
.form-block .owl.error {
  bottom: 5%;
  width: 220px;
  height: 165px;
}
.form-block .owl.error .bobble {
  width: 160px;
  height: 116px;
  color: #ee3624;
  background-image: image-url('error-bobble.png');
  background-repeat:  no-repeat;
}
.form-block .owl.error .bobble span {
  display: block;
  margin-bottom: 7px;
}
.txtinput {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  color: #fff;
  outline: none;
  // text-transform: uppercase;
  border: none;
  background: #00aa92;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.txtinput::-webkit-input-placeholder {
  color: #fff;
}
.txtinput::-moz-placeholder {
  color: #fff;
}
.txtinput:-moz-placeholder {
  color: #fff;
}
.txtinput:-ms-input-placeholder {
  color: #fff;
}
.search-input {
  position: relative;
}
.search-input .txtinput {
  padding-right: 40px;
}
.search-input .search-icon {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 34px;
  height: 34px;
  background-image: image-url("search-icon.png");
}
.owl.success {
  top: 50%;
  left: 50%;
  width: 310px;
  height: 240px;
  margin: -120px 0 0 -155px;
  background-image: image-url('owl-big.png');
  background-repeat:  no-repeat;
  background-position:  100% 100%;
}
.owl.success .bobble {
  width: 201px;
  height: 123px;
  padding-top: 33px;
  background-image: image-url('bobble-big.png');
  background-repeat:  no-repeat;
}
.owl.success .bobble span {
  display: block;
  margin-bottom: 7px;
}
.skool {
  text-align: center;
  background-image: image-url('mountains.png'), image-url('mountains-2.png');
  background-position: 0 100%, 100% 100%;
  background-repeat: no-repeat;
}
.skool .owl {
  right: 0%;
  bottom: 5%;
  width: 200px;
  color: #fff;
  height: 166px;
  .bobble {
    width: 105px;
    height: 63px;
    color: #fff;
    background: url(/assets/bobble-green-right.png);
    padding: 25px 12px;
  }
}
.skool .slogan {
  text-transform: uppercase;
  font-size: 15px;
}
.skool .text {
  width: 490px;
  margin-bottom: 50px;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}
.skool .text ul {
  text-align: left;
  -moz-text-align-last: left;
  text-align-last: left;
}
.btn-block {
  padding: 40px 0;
  text-align: center;
}
.text-left {
  text-align: left;
}
.yellow {
  text-transform: uppercase;
  color: #f7eb13;
}
// .greeting {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   border-bottom: 15px solid #a1c43a;
//   background: image-url('panorama.svg') no-repeat, image-url('2.svg') no-repeat;
//   background-position: 0 100%, 0 0;
//   background-color: #69c2be;
// }
// .baloon-big {
//   position: absolute;
//   top: -15%;
//   left: 50%;
//   margin-left: -402px;
//   z-index: 2;
// }
// .section {
//   display: block;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   z-index: 1;
//   opacity: 0;
// }
// .section.left {
//   left: 0;
//   right: 50%;
//   background: #53a08e;
// }
// .section.right {
//   left: 50%;
//   right: 0;
//   background: #309293;
// }
// .section:hover {
//   opacity: 1;
// }
// .section .bg {
//   display: block;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   z-index: 1;
// }
.search-block {
  height: 300px;
}
.search-block .baloon {
  top: -210px;
}
.search-block .birds.two {
  top: 66%;
  left: -23%;
}
.search-block .owl {
  top: -25px;
  right: 9%;
}
.search-block .form {
  width: 370px;
  margin: 30px auto;
  .subscribe {
      width: auto;
      padding: 13px 33px;
    }
}
.search-block .email-input {
  margin: 50px 0 30px 0;
}
.search-block .email-input:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
}
.search-block .email-input .txtinput {
  margin-bottom: 10px;
}
.themes-block {
  margin-bottom: 100px;
}
.blog-themes {
  margin-left: -10px;
  margin-right: -10px;
  clear: both;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #00aa92;
}
.blog-themes:after {
  display: block;
  clear: both;
  overflow: hidden;
  content: '';
}
.blog-themes:last-child {
  border: none;
}
.blog-themes.open {
  padding: 0;
}
.blog-themes.open .more {
  display: inline-block;
  margin-top: 30px;
}
.blog-themes .theme-item {
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  float: left;
  min-height: 1px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 25px;
}
.blog-themes .theme-item .image-block {
  height: 235px;
  overflow: hidden;
}
.blog-themes .theme-item .image-block img {
  width: 100%;
  height: auto;
}
.blog-themes .theme-item .text {
  margin-top: 10px;
  color: #13514f;
}
.blog-themes .theme-item .text h5 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'robotobold';
}
.blog-themes a {
  text-decoration: underline;
  color: #69c2be;
}
.blog-themes h2 a {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: #13514f;
    font-family: 'robotobold';
}
.blog-themes.vocabulary .subcategories {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  float: left;
  min-height: 1px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
.blog-themes.vocabulary .subcategories li {
  display: inline-block;
  margin-right: 20px;
}
.blog-themes.vocabulary .subcategories a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'robotobold';
  color: #13514f;
  text-transform: uppercase;
}
.blog-themes.vocabulary .subcategories a:hover,
.blog-themes.vocabulary .subcategories a.active {
  text-decoration: underline;
  color: #f47a20;
}
.blog-themes.vocabulary .gallery {
  margin-top: 30px;
}
.blog-themes.vocabulary .gallery:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
}
.blog-themes.vocabulary .gallery .item {
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  float: left;
  min-height: 1px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.blog-themes.vocabulary .gallery img {
  width: 100%;
  height: auto;
}
.more {
  display: block;
  text-decoration: underline;
  color: #69c2be;
  font-size: 16px;
  text-align: center;
}
.follow {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  float: left;
  min-height: 1px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  margin-top: 30px;
  color: #13514f;
  display: table;
}
.follow li {
  display: inline-block;
  margin-right: 8px;
  display: table-cell;
  vertical-align: middle;
  padding-right: 8px;
}
.follow a {
  display: block;
  width: 47px;
  height: 46px;
  background-image: image-url('social2.png');
  background-repeat:  no-repeat;
}
.follow a.inst {
  background-position: 0 0;
}
.follow a.pin {
  background-position: -55px 0;
}
.gallery .image-link {
  outline: none;
}
.other-topics {
  position: relative;
  padding: 40px 0;
  background: #00aa92;
  color: #fff;
}
.other-topics .ship {
  left: -14%;
  top: -176px;
}
.other-topics h2 {
  margin-bottom: 40px;
  color: #fff;
}
.other-topics img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.other-topics .item {
  padding-left: 10px;
  padding-right: 10px;
  width: 33.33333333%;
  float: left;
  min-height: 1px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.other-topics h5 {
  margin-top: 10px;
}
.other-topics h5,
.other-topics strong {
  text-transform: uppercase;
  font-size: 16px;
}
.other-topics h5 a,
.other-topics strong a {
  font-size: 16px;
}
.other-topics a {
  color: #f7eb13;
  text-decoration: underline;
}
.other-topics p {
  margin: 10px 0;
  line-height: 1.2;
}
.open-topic h2 {
  color: #13514f;
  line-height: 1.3;
}
.open-topic .text {
  margin-top: 40px;
  text-align: justify;
  color: #13514f;
  font-size: 16px;
}
.open-topic .text p {
  margin: 15px 0;
}
.open-topic .text .image-block {
  height: 365px;
  overflow: hidden;
}
.publish-date {
  text-align: center;
  margin-bottom: 20px;
  li {
    display: inline-block;
    margin-right: 5px;
    font-family: 'robotoregular';
    font-size: 16px;
    color: #6ac2bf;
  }
  a {
    color: #6ac2bf;
    font-size: 16px;
    text-decoration: underline;
    text-transform: uppercase;
  }
  .date {
    padding: 3px 0 2px 25px;
    background: image-url('calendar-icon.png') no-repeat;
  }
}

.publish-date
.author {
  text-align: center;
  text-transform: uppercase;
  color: #f47a20;
  font-size: 16px;
}
.social-buttons {
  margin: 40px 0;
  text-align: center;
}
.social-buttons a {
  display: inline-block;
  width: 91px;
  height: 30px;
  margin: 0 10px;
  color: #fff;
  text-decoration: underline;
  font-size: 24px;
  background-color: #008000;
  background-image:  image-url('social-btn.png');
  background-repeat:  no-repeat;
  text-align: right;
  padding: 8px 35px;
}
.social-buttons a.f-like {
  background-color: #3b5a99;
  background-position: 7px 5px;
}
.social-buttons a.gp-like {
  background-color: #ce3633;
  background-position: 12px -52px;
}
.social-buttons a.vk-like {
  background-color: #3a71a5;
  background-position: 5px -112px;
}
.contacts-block {
  margin-top: 30px;
  color: #13514f;
  font-size: 16px;
}

.contacts-block .col-6 {
  margin-bottom: 30px;
}

.contacts-block h5 {
  text-transform: uppercase;
  font-family: 'robotobold';
  margin-bottom: 25px;
}
.contacts-block h5.green {
  color: #00aa92;
}
.contacts-block h5.orange {
  color: #f47a20;
}
.contacts-block p {
  margin-bottom: 25px;
}
.contacts-block strong {
  text-transform: uppercase;
}
.contacts-block .phone h5 {
  margin-bottom: 10px;
}
.contacts-block .phone p {
  margin-bottom: 5px;
}
.contacts-block .map {
  border: 3px solid #69c2be;
}
.contacts-block .buttons {
  margin-top: 25px;
}
.contacts-block .buttons:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
}
.contacts-block .buttons a {
  display: inline-block;
  padding: 11px;
  margin-right: 15px;
  text-transform: uppercase;
  font-family: 'robotobold';
  color: #00aa92;
  font-size: 16px;
  border: 1px solid #00aa92;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.partners {
  margin-top: 30px;
  text-align: center;
  color: #13514f;
  font-size: 16px;
}
.partners .row {
  margin-top: 30px;
}
.partners .image-item {
  height: 180px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 3px solid #69c2be;
  cursor: pointer;
}

.partners .image-item .description{
  display: none;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;

}
.partners .image-item .description h6{
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'robotobold';

  margin-bottom: 10px;
}

.partners .image-item:hover {
  background-color: #69c2be;
}
.partners .image-item:hover img {
  display: none;

}
.partners .image-item:hover .description{
  display: block;
}

.partners .image-item img {
  width: 100%;
  height: auto;
}
.owl.not-found {
  width: 431px;
  height: 340px;
  margin: -215px 0 0 -170px;
}
.owl.not-found .bobble.error {
  width: 342px;
  height: 240px;
  font-size: 16px;
  padding-top: 12px;
  background-image: image-url('bobble-error-big.png');
  background-repeat:  no-repeat;
}
.owl.not-found .bobble.error span {
  margin-top: 10px;
  font-family: 'robotolight';
  font-size: 30px;
  color: #ee3624;
}
.owl.not-found .bobble.error p {
  margin-top: 10px;
  font-family: 'robotoregular';
}
.owl.not-found .bobble.error a {
  display: inline-block;
  margin-top: 10px;
  color: #ee3624;
  text-decoration: underline;
  font-size: 16px;
}
.review {
  margin: 30px 0 40px;
}
.review .cycle-prev,
.review .cycle-next {
  top: 30%;
}
.review .s-item {
  width: 100%;
}
.review .image-holder {
  padding-left: 10px;
  padding-right: 10px;
  width: 16.66666667%;
  float: left;
  min-height: 1px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.review .text {
  padding-left: 10px;
  padding-right: 10px;
  width: 83.33333333%;
  float: left;
  min-height: 1px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 25px;
  color: #13514f;
  margin-top: 10px;
}
.review .text h6 {
  text-transform: uppercase;
}
.review .text h6 a {
  font-size: 16px;
  font-family: 'robotobold';
  color: #13514f;
  text-decoration: underline;
}
.review .text h6 a:hover {
  text-decoration: none;
}
.review .text a {
  text-decoration: underline;
  color: #69c2be;
}
.review img {
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.review .publish-date {
  margin: 10px 0;
  text-align: left;
}
p.load {
  text-transform: uppercase;
  font-family: 'robotobold';
  margin-bottom: 10px;
}
.choose-file {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 360px;
  padding: 13px 10px;
  color: #fff;
  outline: none;
  overflow: hidden;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  background-color: #00aa92;
  background-image:  image-url("select-arrows.png");
  background-repeat:  no-repeat;
  background-position:  99%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.choose-file input {
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  height: 40px;
  width: 360px;
  outline: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
}
.greeting {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 15px solid #a1c43a;
  background: image-url('panorama.svg') no-repeat, image-url('clouds.svg') no-repeat;
  background-position: 0 100%, 0 0;
  background-color: #69c2be;
}
.greeting .blog-link {
  z-index: 5;
  position: absolute;
  bottom: 12%;
  left: 50%;
  margin-left: -53px;
  padding: 7px 33px;
  text-transform: uppercase;
  font-family: 'robotobold';
  color: #13514f;
  font-size: 16px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.greeting .owl {
  position: absolute;
  bottom: 44%;
  left: 27%;
  z-index: 4;
}
.baloon-big {
  position: relative;
  z-index: 2;
}
.baloon-big img {
  width: 100%;
  height: auto;
}
.section {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}
.section .text {
  position: absolute;
  width: 280px;
  color: #fff;
  line-height: 1.4;
}
.section .text h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'robotobold';
  margin-bottom: 15px;
}
.section .text p {
  font-family: 'robotolight';
  font-size: 16px;
  margin-bottom: 25px;
}
.section .text a {
  display: inline-block;
  color: #fff;
  padding: 5px 12px;
  font-size: 16px;
  font-family: 'robotobold';
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.section .text a:hover {
  text-decoration: underline;
}
.section.js-mask_left,
.section.js-mask_right {
  z-index: 3;
}
.section.js-mask_left {
  left: 0;
  right: 50%;
}
.section.js-mask_left .text {
  text-align: right;
  bottom: 16%;
  right: 17%;
}
.section.js-mask_right {
  left: 50%;
  right: 0;
}
.section.js-mask_right .text {
  bottom: 13.4%;
  left: 17%;
}
.section.js-content_left {
  left: 0;
  right: 50%;
  background: #53a08e;
}
.section.js-content_right {
  left: 50%;
  right: 0;
  background: #309293;
}
.opacity {
  opacity: 0;
}
.opacity .text {
  display: none;
}

.advertising {
  text-align: center;
  height: 180px;
  background: #00aa92;
  width: 70%;
  float: right;
  position: relative;
  top: -25px;
  overflow: hidden;
  .close {
    position: absolute;
    top: 10px;
    right: 10px;

  }
  .container_small {
    h1 a {
      width: 350px;
      float: left;
      margin-top: 15px;
      text-transform: uppercase;
      font-size: 24px;
      color: #13514f;
      font-family: 'robotobold';
    }
    .image-holder {
      float: left;
    }
  }
}
.container_small .ad_text{
  float: left;
}
.image-holder{
  width: 200px!important;
  height: 220px!important;
}
.container_small h1{
  width: 350px;
}
.container_small h1 a.desc{
  margin-top: 10px;
    font-size: 14px;
    text-transform: none;
    font-family: 'robotoregular';
}
.ui-datepicker {
  width: 310px;
  //left: 555px !important;
  padding: 20px;
  margin-left: 5px;
  background: #69c2be;
  color: #fff;
  .ui-datepicker-header {
    height: 23px;
    line-height: 23px;
    color: #13514f;
    text-align: center;
    text-transform: uppercase;
    font-family: 'robotobold';
    font-size: 14px;
    background: #f7eb13;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    span.ui-icon {
      display: none;
    }
  }
  .ui-datepicker-prev, .ui-datepicker-next {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    background: image-url('datepicker-arrows.png') no-repeat;
  }
  .ui-datepicker-prev {
    float: left;
    background-position: 5px 1px;
  }
  .ui-datepicker-next {
    float: right;
    background-position: 5px -22px;
  }
  .ui-datepicker-calendar {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    thead span {
      display: inline-block;
      margin: 6px 0;
    }
    .ui-state-disabled {
      span{
        display: block;
        width: 34px;
        border: 2px solid #fff;
        padding: 10px 0;
        margin: 0 auto 6px;
        color: #fff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
             border-radius: 2px;
      }
    }
    td.yellow {
      a{
        color: #00aa92;
        border-color: #f7eb13;
        background: #f7eb13;
        &.ui-state-hover {
          color: #f7eb13;
          border-color: #ee3624;
          background: #ee3624;
        }
      }
    }
    a {
      display: block;
      width: 34px;
      border: 2px solid #fff;
      padding: 10px 0;
      margin: 0 auto 6px;
      color: #fff;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
           border-radius: 2px;
      &:hover {
        text-decoration: none;
      }
      &.yellow {
        color: #00aa92;
        border-color: #f7eb13;
        background: #f7eb13;
      }
      &.ui-state-hover {
        color: #00aa92;
        border-color: #ee3624;
        background: #ee3624;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .birds {
    &.two {
      top: 60%;
      left: -8%
    }
  }
}

@media screen and (max-width: 1366px) {
  .advertising {
    width: 80%;
    .container_small {
      float: right;
    }
  }
}

.design-author {
  position: absolute;
  bottom: -18px;
  left: 20px;
  color: #fff;
  a {
    color: #fff;
  }
}
.blog-img{
  width: 470px;
  height: 235px;
}
